<!DOCTYPE html>
<html>

<head>
  <title>Ryanbeckman</title>
  <%= javascript_include_tag "asteroids/asteroid_manifest.js" %>
</head>

<body>
  <style>
    canvas {
      border: 1px solid;
      height: 500px;
      width: 500px;
    }
  </style>

  <canvas width="500" height="500" id="canvas"></canvas>

</body>
</html>