<div class="intro">
  <h1 class="name">Ryan Beckman</h1>
  <h2 class="tagline">Web Developer: For Hire</h1>

  <p>
    I'm currently a web developer in the New York Area.
    With experience using Ruby, Rails, RSpec/Capybara, SQL, HTML/CSS, JavaScript, Backbone.js, and more, I am available for wide array of web development needs.
  </p>


  <p>Feel free to take a look at my resume <!-- (link) --> or some of my current projects <!-- (Will be an achor link) -->, or you can contact me for employment or other needs.</p>
</div>

<div class="projects">
  Projects:
  MeetupMini
  www.meetupmini.com, github.com/zaldabus/MeetupClone

  Asteroids
  github.com/zaldabus/Asteroids

  ActiveRecord-Lite
  github.com/zaldabus/ActiveRecord-Lite

  99Cats
  github.com/zaldabus/99Cats

  Chess
  github.com/zaldabus/Chess

  TicTacToe
  github.com/zaldabus/TicTacToe
</div>

<div class="about_me">
  Resume:
  Technical Skills
  Ruby, Ruby on Rails, Sinatra, CoffeeScript, RSpec, Capybara, Cucumber, Rack, HTML, CSS, Javascript, jQuery,  Backbone.js, PHP, MySQL, SQLite, PostgreSQL, Git, Basic, VB, C++, Adobe Suite, Microsoft Office, Windows, Mac, Linux

  Unscramble – Tokyo, Japan
  Software Developer (Jan 2013 – Mar 2013)

  Q-Tec – Tokyo, Japan
  International Coordinator (Jun 2012 – Dec 2012)

  Adept Group – Tokyo, Japan
  Associate Consultant (Jan 2012 – May 2012)


  Education
  University of California Los Angeles (UCLA) – Los Angeles, CA
  B.S. in Business-Economics minor in Accounting, 2004-2009
  Major GPA: 3.9/4, Overall GPA: 3.6/4

  Sophia University – Tokyo, Japan
  Education Abroad Program, 2006-2007


  Certification
  Japanese Language Proficiency Test (日本語能力試験) Level 2 (二級), 2009
</div>

<div class="contact_me">

</div>